<!--
  YOUTUBESEARCHMANAGER.HTML
  Version: 7
  AppName: MultiChat_Chatty [v7]
  Updated: 7/12/2025 @5:40AM
  Created by Paul Welby
-->

<div class="youtube-result-bubble">
    <div class="youtube-results-header">
        <h3>YouTube Results for: "<span class="youtube-query-subject"></span>"</h3>
    </div>
    <div class="youtube-video-grid">
        <!-- Video items will be inserted here -->
    </div>
    <div class="youtube-pagination-bar">
        <!-- Pagination controls will be inserted here -->
    </div>
</div> 